
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Break Down
      </ion-title>
      <ion-button class="notifications-btn">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

  <ion-list lines="none" style="background: transparent;">
    <ion-item style="--background:transparent;border-radius: 20px;margin-left: 5px;margin-right: 5px;">
      <ion-select style="width: 100%;" interface="popover" placeholder="Breakdown Type" class="selection">
        <ion-select-option value="brown">Rear-End Collisions</ion-select-option>
        <ion-select-option value="blonde">T-Bone Accidents</ion-select-option>
        <ion-select-option value="black">Sideswipe Collisions</ion-select-option>
        <ion-select-option value="red">Head-on collisions</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="--background:#e7edf5;border-radius: 20px;margin: 20px;">
      
      <ion-label position="floating" style="color:black;">Description</ion-label>
      <ion-textarea></ion-textarea>

    </ion-item>

  </ion-list>
  
  </ion-content>
  
  </ion-content>
  