<ion-content>
    <ion-header style="background: white;">
    <ion-toolbar>  
      <ion-title>
        Choose pick up location
      </ion-title>
      <ion-button class="notifications-btn">
        <ion-icon name="location-outline" style="color:#1D97DB;height:30px;width:30px;"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
</ion-content>
</ion-content>

<ion-footer class="ion-no-border" style="text-align: center;background-color:white;">
  <ion-toolbar style="--background:white;">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div style="text-align: center;">
            <ion-button full icon-left class="footerBtn" (click)="done()">
              Done
            </ion-button>
            </div>
        </ion-col>
        <ion-col>
          <div style="text-align: center;">
            <ion-button full icon-left class="footerBtn" (click)="cancel()">
              Cancel
            </ion-button>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>
