
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Break Down
      </ion-title>
      <ion-button class="notifications-btn">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

  <ion-list lines="none" style="background: transparent;">

    <ion-item style="--background:transparent;border-radius: 20px;margin-left: 5px;margin-right: 5px;border: 1px solid #1D97DB;margin: 20px;">
      <ion-select style="width: 100%;" interface="popover"  placeholder="Select Vehicle" class="selection">
        <ion-select-option [value]="vehicle" *ngFor="let vehicle of vehicleNumbers">{{vehicle.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="--background:transparent;border-radius: 20px;margin-left: 5px;margin-right: 5px;border: 1px solid #1D97DB;margin: 20px;">
      <ion-select style="width: 100%;" interface="popover" placeholder="Breakdown Type" class="selection">
        <ion-select-option value="brown">Rear-End Collisions</ion-select-option>
        <ion-select-option value="blonde">T-Bone Accidents</ion-select-option>
        <ion-select-option value="black">Sideswipe Collisions</ion-select-option>
        <ion-select-option value="red">Head-on collisions</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="--background:#e7edf5;border-radius: 20px;margin: 20px;">
      
      <ion-label position="floating" style="color:black;">Description</ion-label>
      <ion-textarea></ion-textarea>

    </ion-item>

    <!-- <div class="input-field">
      <ion-item>
        <ion-label position="floating">Email address</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </div> -->


    <ion-grid>
      <ion-row>
        <ion-col style="text-align: end;">
          <ion-button (click)="getImage()" style="--background:#1D97DB;">
            <ion-icon slot="end" name="cloud-upload-outline"></ion-icon>
            Upload
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button style="--background:#1D97DB;">
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            Submit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

<ion-grid>
  <ion-row>

    <ion-col size="4" *ngFor="let image of images" (click)="zoom(image)">
      
        <img src="{{image}}" style="width: 150px;height: 150px;">
     
  </ion-col>

  </ion-row>
      
</ion-grid>

  </ion-list>
  
  </ion-content>
  
  </ion-content>
  