ion-title {
    float: left;
    //top: 11px;
    position: relative;
    font-weight: normal;
    padding-left: 0;
}

.menu-btn {
    --background: transparent;
    --box-shadow:none;
    color: #fff;
    float: left;
}

ion-content {
    --background: none;
    background-image: url('/assets/body-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    // --padding-start: 10%;
    // --padding-end: 10%;
    // --color: #484D52;
}

.header-md::after {
    display: none;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --box-shadow:none;
    color: #fff;
}

.input-field {
    background: #EEF4FA;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

ion-item {
    --ion-background-color: transparent;
    --border-color: transparent;
    color: #484D52;
}

ion-item {
    --highlight-color-focused: transparent;
}

ion-button {
    margin-left: 20px;
    margin-right: 20px;
    &.ion-color-primary {
       --background: #1D97DB;
       --box-shadow:none;
       --border-radius: 14px;
       height: 55px;
       text-transform: capitalize
    }
    &.ion-color-secondary {
        --background: #EEF4FA;
        --box-shadow:none;
        --border-radius: 14px;
        height: 55px;
        text-transform: capitalize;
        --color: #484D52;
     }
     & img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
     }
 }

 .feedBack
 {
    margin-left: 30px;
 }

 .eyeIcon
 {
    margin-top: 20px;
 }