<ion-content>
    <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Reset Password
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <div class="input-group">

      <div class="input-field">
        <ion-item>
          <ion-label position="floating">Current Password</ion-label>
          <ion-input [type]="oldPassword" type="email" formControlName="currentPassword"></ion-input>
          <ion-icon class="eyeIcon"
          *ngIf="oldPassword=='password'"
          slot="end"
          name="eye-off-outline"
          (click)="oldHideShow()"
        ></ion-icon>
        <ion-icon class="eyeIcon"
          *ngIf="oldPassword=='text'"
          slot="end"
          name="eye-outline"
          (click)="oldHideShow()"
        ></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback feedBack">
        <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
      </div>

      <div class="input-field">
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input [type]="passwordTypeA" type="password" formControlName="newPassword"></ion-input>
          <ion-icon class="eyeIcon"
      slot="end"
      *ngIf="passwordTypeA=='password'"
      name="eye-off-outline"
      (click)="hideShowA()"></ion-icon>
      <ion-icon class="eyeIcon"
      slot="end"
      *ngIf="passwordTypeA=='text'"
      name="eye-outline"
      (click)="hideShowA()"
    ></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback feedBack">
        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
      </div>
      

      <div class="input-field">
        <ion-item class="password">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input [type]="passwordTypeB" type="password" formControlName="confirmPassword"></ion-input>
          <ion-icon class="eyeIcon"
          *ngIf="passwordTypeB=='password'"
          slot="end"
          name="eye-off-outline"
          (click)="hideShowB()"
        ></ion-icon>
        <ion-icon class="eyeIcon"
          *ngIf="passwordTypeB=='text'"
          slot="end"
          name="eye-outline"
          (click)="hideShowB()"
        ></ion-icon>
        </ion-item>
      </div>
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback feedBack">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      </div>

    </div>

    <ion-button class="ion-color-primary" type="submit" expand="block">Reset</ion-button>

  </form>
</ion-content>
</ion-content>
