
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Speed Check
      </ion-title>
      <ion-button class="notifications-btn">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="text-align: center;">
    <div id="container">
      <strong>{{speedValue}}</strong>
      <p>{{distance}}</p>
      <p>{{stepCount}}</p>
    </div>
  </ion-content>
  
  </ion-content>