
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Service List
      </ion-title>
      <ion-button class="notifications-btn" (click)="serviceRequest()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-list lines="none" *ngIf="serviceList.length!=0" lines="full" style="background: transparent;">
     
      <ion-item style="--background:transparent;border-radius: 20px;"
        *ngFor="let service of serviceList; index as i;"
      >
        <ion-label>
          <ion-badge slot="start">#{{service.vehicleNumber}}</ion-badge>
         
          <h3>{{service.date | date: 'dd-MM-yyyy hh:mm a'}}</h3>
          <h3>{{service.description}}</h3>
  
        </ion-label>
      </ion-item>
 
    </ion-list>

       
        <div style="text-align: center;">
          <ion-button class="submitBtn">
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            Submit
          </ion-button>

        </div>
     
 
  
  </ion-content>
  
  </ion-content>
  